@import 'index';

.page-container{
    @include sizeRatio(auto, 100%);
    background-color: $darker;
    font-family: $primary-font;

    .page-header{
        @include sizeRatio(7vh, 100%);
        @include display(flex, space-between, center);
        gap: 30px;
        background-color: $dark-color;
        padding: 0 16vw;
        font-size: 20px;
        position: fixed;
        top: 0;


        .logo{
            font-family: $title-font;
            span{
                color: $darker;
                
            }
        }

        .menu{
            font-family: $secondary-font;
            font-size: 15px;
        
            li{
                display: inline-block;
                padding: 15px;

                a{
                    color: $text-color;
                }
            }
        }

        .name{
            font-size: 15px;
            font-family: $secondary-font;
            text-transform: capitalize;
            @include display(flex, center, none);
        }
    }

    .content{
        @include sizeRatio(1000vh, 100%);
        padding: 30px 14vw 0px 14vw;
        display: grid;
        grid-template-columns: 2fr 4fr 2fr;
        margin-top: 55px;


        .feeds{
            height: auto;
            overflow: hidden;

            .post{
                @include sizeRatio(13vh, 100%);
                background-color: $dark-color;
                border-radius: 10px;
                cursor: pointer;
                .post-heading{
                    @include display(flex, none, center);
                    @include sizeRatio(8vh, 100%);
                    margin: 0 20px;
                  

                    h4{
                        font-weight: 200;
                        font-size: 15px;
                    }
                }

                hr{
                    border: 1px $darker solid;
                }

                .post-footer{
                    @include display(flex, none, center);
                    @include sizeRatio(5vh, 100%);
                    margin: 0 20px;

                    p{
                        margin-left: 6px;
                        font-size: 15px;
                    }
                }
               
              
            }

            .feeds-content{
                @include sizeRatio(5vh, 100%);
                // background-color: $dark-color;
                margin-top: 15px;
                border-radius: 10px;
                // padding: 30px;

                .poster-image{
                    @include display(flex, none, center);

                    img{
                        @include sizeRatio(60px, 60px);
                        border-radius: 50%;
                        margin-right: 15px;
                    }

                    .poster-info{

                        .username{
                            margin-bottom: 4px;
                            font-size: 13px;
                            color: $darker;
                        }

                        .poster-name{
                            span{
                                margin-left: 6px;
                                font-size: 14px;
                                color: $darker;
                            }
                        }
                    }
                }

                .caption{
                    margin-top: 20px;
                    font-size: 15px;
                }

                .post-image{
                    margin-top: 20px;
                    img{
                        @include sizeRatio(50vh, 100%);
                        border-radius: 15px;
                    }
                }

                .interaction{
                    @include sizeRatio(4vh, 100%);
                    margin-top: 20px;

                    i{
                        font-size: 20px;
                        margin-right: 20px;
                    }
                }

                .comment{
                    @include display(flex, none, center);
                    @include sizeRatio(10vh, 100%);

                    input{
                        border: none;
                        padding: 13px;
                        width: 100%;
                        border-radius: 10px;
                        background-color: $darker;
                        color: $light-color;
                        font-size: 15px;
                        margin-right: 10px;
                    }
                }
            }
        }
        
    }
}

.post-container{
    margin-bottom: 20px;
    background: $dark-color;
    padding: 20px;
    border-radius: 10px;
}

.avatar{
    @include sizeRatio(50px, 50px);
    border: 1px #000 solid;
    border-radius: 50%;
    margin-right: 10px;
}



.page-container{
    .content{
        .feeds{
            .feeds-content{
                @include sizeRatio(100vh, 100%);
            }
        }
        
    }
}


// POST 

.add-post{
    @include position(fixed, 17%, 50%, -50%, 0);
    @include sizeRatio(70vh, 40%);
    background-color: green;
    border-radius: 15px;
    font-family: $primary-font;
    display: none;      

    .post-heading{
        @include display(flex, center, center);
        @include sizeRatio(70px, 100%);
        border-bottom: 1px #c0c0c0 solid;
        font-size: 12px;    
        position: relative;
    
        #close{
            position: absolute;
            right: 20px ;   
        }
    }

    .post-images{
        @include display(flex, none, center);
        padding: 20px;

        .avatar{
            @include sizeRatio(60px, 60px);
            border-radius: 50%;
            margin-right: 15px;
        }

        .poster-infos{

            .usernames{
                margin-bottom: 4px;
                font-size: 13px;
                color: $darker;
            }
        }
    }

    .input-post{
        @include sizeRatio(23vh, 100%);
        padding: 10px 20px;
        

        textarea{
            @include sizeRatio(100%, 100%);
            padding: 10px 20px;
        }
    }

    .additional-post{
        @include sizeRatio(10vh, 93%);
        @include display(flex, none, center);
        border: 1px #000 solid;
        margin: 0 20px;
        padding: 0 10px;
        font-size: 15px;
    }

   .post-btn-container{
    @include sizeRatio(10vh, 93%);
    @include display(flex, center, center);
    margin-left: 20px;
   
    button{
        width: 100%;
        padding: 10px 0;
        border-radius: 5px;
        border: 1px #c0c0c0 solid;
    }
}
}